<p> {{ book.title}}<br> style du livre : {{ book.style }} <br>contient : {{ book.nbpages }} pages</p>

<a href="{{ path('twig_books') }}">
    book
</a><br>

<a href="{{ path('twig_auteurs') }}">
    auteur
</a>